@font-face {
    src: url("../font/Jost-BoldItalic.ttf");
    font-family: Peace Sans;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    sc
}
a {
    text-decoration: none;   
}
li {
    list-style: none;
}
body {

    padding-top: 0;
    /*background-image: url("../img/teste1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-size: cover;
    background-size: cover;*/
}
header {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 1;

    height: 20%;
    width: 100%;

}
.nav-bar {
    position: absolute;

    height: 100%;
    width: 100%;
    
    align-content: center;


}
.nav-bar svg {
    float: left;
    margin-top: 1.5%;
    margin-left: 4vh;
    
    
    height: 15vh;

    background-color: whi;

    filter: drop-shadow(1px 1px 9px #ffffff);
}

.nav-bar svg:hover {
    filter: drop-shadow(1px 1px 11px #ffffff);
    animation-name: logo-in;
    animation-duration: 1s;
}
.menu-items {
    float: right;
    width: 30%;

    margin-top: 2.5%;
    margin-right: 2.5%;

    background-color: purle;
}
.menu-items ul{ 
    display: grid;
   

    grid-auto-flow: column;
    
    grid-gap: 1vh;
    
    background-color: ylow;
}
.menu-items a {
    font-family: Peace Sans;
    font-size: 4vh;

    color: white;
     
}
.menu-items li {
    align-content: center;
    text-align: center;
    background-color: black;
    border-radius: 90px;
    filter: drop-shadow(1px 1px 15px #000000);
}
.menu-items li:hover {
    background-color: grey;
}
a:nth-child(n):hover {
    font-size: 4.1vh;
    width: 6vh;

    filter: drop-shadow(1px 1px 15px #000000);       
}
@keyframes logo-in {
    0% {height: 15vh}
    50% {height: 17vh}
    75% {height: 17vh}
    100% {height: 15vh}
}









//////////////////////////////////////

main {
    display: grid;
}
main section{ 

    display: flex;
    position: relative;

   

    vertical-align: center;
    align-content: center;
    ;
    

    
}
.section-grid {
    display: flex; 
    height: 100vh;
    background-image: url("https://www.itau.com.br/content/dam/itau/varejo/cliente-itau-sorridente-no-sofa-mexendo-no-computador.jpg");
    background-attachment: fixed;
    background-size: cover;

}
.sec0 {
    align-content: center;    
    position: left;
    margin-left: 0px;
    width: 70%;
}

#box {  
    margin-top: 25%;
    margin-left: 28%;
    border-radius: 10%;
    height: 40vh;
    width: 40vh;

    background-color: white;
    filter: drop-shadow(1px 1px 50px #000000);
}

form {
    position: absolute;
    margin: 18%;
    width: 20vh;
    height: 25vh;
    
}
form label {
    margin-left: 20%;
    text-align: center;
    font-family: Peace Sans;
    font-size: 3vh;
    color: black;
}
form input.box_name {
    border-radius: 45px;
    border-style: none;
    background-color: grey;
    height: 5vh;
    width: 25vh;
    padding-left: 10%;
}
form input.box_ln {
    border-radius: 45px;
    border-style: none;
    background-color: grey;
    height: 5vh;
    width: 25vh;
    padding-left: 10%;
}
form input.button {
    margin-left: 13%;
    border-radius: 45px;
    height: 4vh;
    width: 20vh;
    background-color: grey;
    
}
form input.button {
    border-style: none;
    font-family: Peace Sans;
    font-size: 2vh;
}
form input.button:hover {
    background-color: grey;
    height: vh;
    filter: drop-shadow(1px 1px 6px #000000);
    filter: hue-rotate(3.142rad);   
}
.sec1{
    float: right;
    height: 100%;
    width: 40%;
    background-color: white;
}
.sec1 h1{
    font-family: Peace Sans;
    font-size: 7vh;
    margin-top: 43%;
    margin-bottom: 50%;
    margin-left: 12%;
    margin-right: 9%;

    padding-left: 10px;

    border-width: 3px;
    border-color: currentColor;
    border-style: solid;

    color: red;

    filter: drop-shadow(0px 0px 9px red);

    
}
p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    

    width: 90%;

    text-align: center;

    font-size: 3vh;

    filter: drop-shadow(1px 2px 0px #000000); 
    color: white;

    font-family: Peace Sans;
}
p#usuarios {
    font-size: 12vh;
}

section:nth-child(even){
    background-color: #000000;
    opacity: 20%;
    height: 100%;
    
}
#login,#bagaceira {
    background-image: url("../img/teste1.gif");
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(30%);
    height: 100%;
}