@font-face {
    src: url("../font/Jost-BoldItalic.ttf");
    font-family: Peace Sans;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    sc
}
a {
    text-decoration: none;   
}
li {
    list-style: none;
}

header {
	display: block;
	height: 100%;
	width: 100%;
	
	background-image: url("../img/teste1.gif");
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(30%);
    height: 100%;


	display: flex;

	align-content: center;
}
#box {	
	display: grid;
	
	
	border-radius: 80px;
	height: 55vh;
	width: 55vh;

	display: flex;
	align-content: center;
	vertical-align: all;

	background-color: white;
	filter: drop-shadow(1px 1px 50px #000000);

	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto; 
}

#box h1 {	

	height: 10vh;
	width: 55vh;
	font-size: 15px;
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: blk;

	filter: hue-rotate();
	font-family: Peace Sans;
	font-size: 2.2vh;

}
form {
	position: relative;
	top: 50%;
	margin-left: 20%;
	margin-right: 20%;
	width: 20vh;
	height: 25vh;
	
}
form label {
	margin-left: 20%;
	text-align: center;
	font-family: Peace Sans;
	font-size: 3vh;
	color: black;
	opacity: 
}
form input.box_name {
	border-radius: 45px;
	border-style: none;
	background-color: grey;
	height: 5vh;
	width: 25vh;
	padding-left: 10%;
}
form input.box_ln {
	border-radius: 45px;
	border-style: none;
	background-color: grey;
	height: 5vh;
	width: 25vh;
	padding-left: 10%;
}
form input.button {
	margin-left: 13%;
	border-radius: 45px;
	height: 4vh;
	width: 20vh;
	background-color: grey;
	
}
form input.button {
	border-style: none;
	font-family: Peace Sans;
	font-size: 2vh;
}
form input.button:hover {
	background-color: grey;
	height: vh;
	filter: drop-shadow(1px 1px 6px #000000);
	filter: hue-rotate(3.142rad);	
}